.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%; 
}

.NavigationItem {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  align-items: center; 
}

.NavigationItem a {
  color: #fff;
  text-decoration: none;
  height: 100%;
  padding: 16px 10px;
  border-bottom: 4px solid transparent;
  box-sizing: border-box;
  display: block;
}

.NavigationItem a:hover, 
.NavigationItem a:active {
  background-color: #8f5c2c;
  border-bottom: 4px solid #40a4c8;
  color: #fff;
}

@media (max-width: 501px) {
  .Toolbar nav {
    display: none;
  }

  .SideDrawer .NavigationItems {
    display: block;
  }

  .SideDrawer .NavigationItem a {
    color: #000;
  }

  .SideDrawer .NavigationItem a:hover, 
  .SideDrawer .NavigationItem a:active {
    background: transparent;
    cursor: pointer;
    border-bottom: 4px solid #40a4c8;
  }
}
